<div class="col-12">
  <div class="dropdown custom-select">
    <button class="btn dropdown-toggle w-100 pe-3 d-flex justify-content-between align-items-center"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
    >
      <img
           :src="getSelectedOption.imgUrl"
           alt=""/>
      {{ getSelectedOption.trad }}
    </button>
    <ul class="dropdown-menu ps-3 pt-3">
      <li v-for="option in options"
          :key="option"
          @click="setSelectedOption(option)">
          <img
               class="pe-3"
               :src="option.imgUrl"
               alt=""
          />
          {{ option.trad }}
      </li>
    </ul>
  </div>
</div>