.custom-select {

    .dropdown-toggle {
      height: 34px;
      border-radius: unset;
      background-color: grey;
      border: 2px transparent solid;
      color: white;
      padding: 0;

      img {
        max-width: 30px;
      }

      &.show {
        background-color: grey;
        border: 2px yellow solid;
        color: white;
        position: relative;
        z-index: 9999;
      }

      &:hover {
        background-color: black;
        border-color: yellow;
        color: white;
      }

      &:active {
        border: 2px yellow solid !important;
        background-color: grey !important;
        color: white !important;
      }

      & + ul {
        width: 100%;
        border-radius: unset;
        background-color: grey;
        color: white;
        padding: 0;

        &.show {
          transition: all 0.3s ease-in-out;
        }

        li {
          padding: 0px 2px;
          margin-bottom: 15px;
          height: 30px;
          display: flex;
          align-items: center;

          &:hover {
            color: yellow;
            transition: all 0.125s ease-in-out;
            cursor: pointer;
          }

          img {
            height: 30px;
          }
        }
      }
    }
  }