<div class="row box bg-light pt-4 pe-4 pb-4 ps-3">
    <CustomTitle content="Ajouter une transaction" type="h2" />
    {{ time }}
    <form @submit.prevent="validForm">
        <div class="row">
            <div class="col-md-4 col-12 mb-3">
                <input  type="text"
                        class="form-control" 
                        id="label" 
                        placeholder="Label" 
                        v-model="label" 
                        :class="{ 'is-invalid': labelError }"
                >
                <div class="invalid-feedback" v-if="labelError">{{ labelError }}</div>
            </div>
            <div class="col-md-4 col-12 mb-3">
                <input  type="date"
                        class="form-control" 
                        id="date" 
                        v-model="date" 
                        :class="{ 'is-invalid': dateError }"
                >
                <div class="invalid-feedback" v-if="dateError">{{ dateError }}</div>
            </div>
            <div class="col-md-4 col-12 mb-3">
                <input  type="number" 
                        class="form-control"
                        id="amount" 
                        placeholder="Ex: 2.4" 
                        v-model="amount" 
                        :class="{ 'is-invalid': amountError }"
                >
                <div class="invalid-feedback" v-if="amountError">{{ amountError }}</div>
            </div>
            <div class="col-md-6 col-12 mb-3">
                <div class="form-switch-container d-flex">
                    <label  class="form-check-label me-2"
                            for="flexSwitchCheckDefault"
                            :class="{ 'fw-bold text-danger': !isSwitchedOn }"
                            >
                            Expenses
                    </label>
                    <div class="form-check form-switch">
                        <input  class="form-check-input" 
                                type="checkbox"
                                role="switch"
                                id="flexSwitchCheckDefault"
                                v-model="isSwitchedOn"
                                :class="{ 'bg-danger': !isSwitchedOn }"
                        >
                    </div>
                    <label  class="form-check-label me-2"
                            for="flexSwitchCheckDefault"
                            :class="{ 'fw-bold text-primary': isSwitchedOn }"
                            >
                            Income
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-3">
                <button type="submit" class="btn btn-primary mb-3 w-100">Créer</button>
            </div>
        </div>
    </form>
</div>
