<nav id="menu" class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
        <router-link class="navbar-brand" to="/">
            <font-awesome-icon :icon="['fas', 'house']" />
        </router-link>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-container" aria-controls="menu-container" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-container">
            <div class="navbar-nav">
                <router-link
                    v-for="route in $router.options.routes"
                    :key="route.name"
                    :to="{ name: route.name }"
                    class="nav-link color-light"
                >
                    {{ route.name }}
                </router-link>
            </div>
        </div>
    </div>
</nav>