/* CSS TABLE OF CONTENT */


/********/
/*
 * 1 - Headings
 * 1.1 - Colors
 * 2 - Forms
 * 3 - Atoms
 * 3.1 - Boxes
 * 10 - Animation
 * 11 - Responsive
*/

/*** 1 - Headings ***/
h1, h2, h3, h4, h5, h6 {
    font-family: "Test Financier Display Bold";
}

.box {
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    border: 1px $grey solid;
    border-radius: 6px;
}
.icon-toggle {
    display: flex;
    width: fit-content;
    
    .initial {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        position: absolute;
    }
    .hovered {
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        opacity: 0;
    }
    &:hover {
        .initial {
            opacity: 0;
        }
        .hovered {
            opacity: 1;
        }
    }
}


/*** 2 - Forms ***/